snippet cdecl_call
  push  ebp
  mov   ebp,esp
  push  esi
  push  edi

  push  ${1:argument}
  push  ${0:base_string}
  call  printf
  add   esp,8h                ; 4h per pushed argument

  pop   edi
  pop   esi
  pop   ebx
  mov   esp,ebp
  pop   ebp

